.toggleButtonWrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  
  .toggleButton {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    color: #202024;
    background-position: center;
    cursor: pointer;
  }
  
  .toggleButtonOn {
    background: url(../../assets/eye_open_light.svg) center no-repeat;
    background-color: #E1E1E6;
    background-size: 60%;
  }
  
  .toggleButtonOff {
    background: url(../../assets/eye_close_light.svg) center no-repeat;
    background-color: #E1E1E6;
    background-size: 60%;
  }
}