$mobile-width: 420px;

.hashBoxWrapper {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: 50%;
  max-height: 300px;

  @media (max-width: $mobile-width) {
    height: 70%;
    max-height: none;
  }

  margin: auto;

  background-color: #202024;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  * {
    text-decoration: none;
    -webkit-appearance: none;
    border: none;
  }

  .title {
    margin: 10px auto;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
  }

  .topDiv {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    align-items: center;
    justify-content: center;

    .toggleSwitch {
      background-color: #E1E1E6;
      // margin: 10px 0;
    }

    .textField {
      width: 72%;
      height: 40px;
  
      // margin: 10px auto;
  
      background-color: #E1E1E6;
      color: #202024;
  
      font-size: 16px;
      padding: 0 10px;
  
      &:focus {
        outline: none;
      }

      &::-ms-reveal, &::-ms-clear {
        display: none;
      }
    }
  }


  .hashTextDiv {
    width: 80%;
    height: 40px;

    @media (max-width: $mobile-width) {
      height: 15%;
    }

    margin: 10px auto;

    background-color: #202024;
    
    .hashText {
      height: 50%;
      margin: 10px auto;
      text-align: center;
      color: #E1E1E6;

      font-family: 'JetBrains Mono', monospace;
      font-weight: bold;

      @media (max-width: $mobile-width) {
        word-break: break-all;
        white-space: normal;
      }
    }
  }

  .buttonsDiv {
    width: 80%;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin: 10px 0;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      width: 80%;
      margin: 10px auto;
    }

    .button {
      width: 30%;
      height: 40px;

      @media (max-width: $mobile-width) {
        width: 100%;
        height: 30px;
      }

      background-color: #ffcd1e;
      color: #202024;

      cursor: pointer;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        filter: brightness(0.9);
      }
    }

    .hashButton {
      margin-right: 10px;
      @media (max-width: $mobile-width) {
        margin: 2px auto;
      }
    }

    .copyButton {
      margin: 0 10px;
      @media (max-width: $mobile-width) {
        margin: 2px auto;
      }
    }

    .clearButton {
      margin-left: 10px;
      @media (max-width: $mobile-width) {
        margin: 2px auto;
      }
    }
  }
}